@model Pitcher.Models.Problem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemFileAttachments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemFileAttachments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemSeverity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemSeverity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemComplete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
