@model PaginatedList<Pitcher.Models.Problem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 @*COPY AND PASTE THIS TAG HELPER METHOD TEXTBOX CUSTOMIZATION INTO OTHER VIEWS TO ENABLE SEARCHING.*@
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" button type="button" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List </a>
        </p>
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @*COPY AND PASTE THIS METHOD CUSTOMIZATION INTO OTHER VIEWS TO ENABLE SORTING.*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProblemTitleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Problem Title</a>
            </th>
            <th>
                Problem Description
            </th>
            <th>
                 <a asp-action="Index" asp-route-sortOrder="@ViewData["ProblemStartDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Problem Start Date</a>
            </th>
            <th>
                ProblemFile Attachments
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProblemSeveritySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ProblemSeverity</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProblemCompleteSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ProblemComplete</a>
            </th>
            <th>
                Job
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemFileAttachments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemSeverity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
