@model IEnumerable<Pitcher.Models.Problem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemFileAttachments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemSeverity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemFileAttachments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemSeverity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProblemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProblemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProblemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
