@model Pitcher.Models.Job
@{ 
    var user = new User();
}
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label"></label>
                <textarea asp-for="JobDescription" class="form-control" rows="10" cols="50"></textarea>
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobStartDate" class="control-label"></label>
                <input asp-for="JobStartDate" class="form-control" />
                <span asp-validation-for="JobStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDeadline" class="control-label"></label>
                <input asp-for="JobDeadline" class="form-control" />
                <span asp-validation-for="JobDeadline" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JobIsComplete" /> @Html.DisplayNameFor(model => model.JobIsComplete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div>
<table id="registeredUsersTable" class="table">
<thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => user.UserFirstName)
            </th>        
            <th>
               @Html.DisplayNameFor(model => user.UserLastName)
            </th>
            <th>
               @Html.DisplayNameFor(model => user.UserContactEmail)
            </th>
            <th>                
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
</div>

<div>
<table id="unassignedUsersTable" class="table">
<thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => user.UserFirstName)
            </th>        
            <th>
               @Html.DisplayNameFor(model => user.UserLastName)
            </th>
            <th>
               @Html.DisplayNameFor(model => user.UserContactEmail)
            <th>                
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>        
        var id=@Model.ID 
        $('#registeredUsersTable').DataTable({
                "ajax": {
                'type': 'get',
                //PROBLEM:Cannot get the related UserID of the Job.
                'data': { ID: id},
                'dataType': "json",                  
                "url": "@Url.Action("GetAllUsersByJobId")",
                "dataSrc": function (result) {
                    return result;
                    }
                },            
                "columns": [                
                { "data": "UserFirstName"},
                { "data": "UserLastName"},
                { "data": "UserContactEmail"}
                ]
        });

        var unassignedUsersTable = $('#unassignedUsersTable').DataTable({
                    "ajax": {
                    type: 'get',
                    'dataType': "json",                  
                    "url": "@Url.Action("GetAllUsers")",
                    "dataSrc": function (result) {
                        return result;
                        }
                    },            
                    "columns": [                
                    { "data": "UserFirstName"},
                    { "data": "UserLastName"},
                    { "data": "UserContactEmail"}
                    ]
            });
    </script>
}
