@model PaginatedList<Pitcher.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 @*COPY AND PASTE THIS TAG HELPER METHOD TEXTBOX CUSTOMIZATION INTO OTHER VIEWS TO ENABLE SEARCHING.*@
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" button type="button" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List </a>
        </p>
    </div>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @*COPY AND PASTE THIS METHOD CUSTOMIZATION INTO OTHER VIEWS TO ENABLE SORTING.*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["JobTitleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Job Title</a>
            </th>
            <th>
                Job Description
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["JobStartDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Job Start Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["JobDeadlineDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Job Deadline)</a>
            </th>
            <th>
                Job Is Complete
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobIsComplete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" button type="button" class="btn btn-primary btn-block">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ID" button type="button" class="btn btn-info btn-block">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ID" button type="button" class="btn btn-primary btn-block">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-secondary @prevDisabled"
   button type="button">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-secondary @nextDisabled"
   button type="button">
   
    Next
</a>