@model Pitcher.Models.Job
@{
    ViewData["Title"] = "Jobs";
}   
<h1>Jobs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="jobTable" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobIsComplete)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts{ 
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        var oTable = $('#jobTable').DataTable({
                "ajax": {
                type: 'get',
                'dataType': "json",
                "url": "@Url.Action("GetAllJobs")",
                "dataSrc": function (result) {
                    return result;
                    }
                },
            "columns": [
                { "data": "ID"},
                { "data": "JobTitle"},
                { "data": "JobDescription"},
                { "data": "JobStartDate"},
                { "data": "JobDeadline"},
                {
                    "data": "JobIsComplete",
                    "render": function (data) {
                        if (data) {
                            return "Is Complete";
                        } else {
                            return "Not Complete";
                        }
                    }
                },
                {
                    "data": null,
                    "render": function (value) {
                        return '<a href="/Jobs/Details/' + value.ID + '"button type="button" class="btn btn-primary btn-block">Details</a> <br> '
                            
                            + '<a href="/Jobs/Edit/' + value.ID + '"button type="button" class="btn btn-info btn-block">Edit </a> <br> ' 
                            
                            + '<a href="/Jobs/Delete/' + value.ID + '"button type="button" class="btn btn-primary btn-block">Delete</a>';
                    }
                }
                ]
        });
    </script>
}