@model Pitcher.Models.User

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="userTable">
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.UserFirstName)
            </th>        
            <th>
               @Html.DisplayNameFor(model => model.UserLastName)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.UserContactEmail)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.UserPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserMobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserState)
            </th>
            <th>                
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>    
@section scripts{ 
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>
        var oTable = $('#userTable').DataTable({
                "ajax": {
                type: 'get',
                'dataType': "json",
                "url": "@Url.Action("GetAllUsers")",
                "dataSrc": function (result) {
                    return result;
                    }
                },
            "columns": [
                { "data": "UserFirstName"},
                { "data": "UserLastName"},
                { "data": "UserContactEmail"},
                { "data": "UserPhoneNumber"},
                { "data": "UserAddress"},
                { "data": "UserPostCode"},
                { "data": "UserCountry"},
                { "data": "UserMobileNumber"},
                { "data": "UserState"},
                {
                    "data": null,
                    "render": function (value) {
                        return '<a href="/Users/Details/' + value.ID + '"button type="button" class="btn btn-primary btn-block">Details</a> <br> '
                            
                            + '<a href="/Users/Edit/' + value.ID + '"button type="button" class="btn btn-info btn-block">Edit </a> <br> ' 
                            
                            + '<a href="/Users/Delete/' + value.ID + '"button type="button" class="btn btn-primary btn-block">Delete</a>';
                    }
                }
                ]
        });
    </script>
}